{% extends 'base.html.twig' %}

{% block title %}Pays - Société Des Bières du Monde{% endblock %}

{% block body %}
<main class="container vh-100">  
    <h1 class="mb-5 mt-5">Pays</h1>

    <table class="table table-bordered">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ pay.id }}</td>
            </tr>
            <tr>
                <th>Nom Pays</th>
                <td>{{ pay.nom }}</td>
            </tr>
             <tr>
                <th>Nom Contient</th>
                <td>{{ pay.continent.nom }}</td>
            </tr>
        </tbody>
    </table>

   

    <a class="btn btn-primary mb-2 mt-3" href="{{ path('app_pays_edit', {'id': pay.id}) }}">Modifier</a>

    {{ include('pays/_delete_form.html.twig') }}
     <a class="btn btn-warning mt-4" href="{{ path('app_pays_index') }}">Retourner à la liste</a>
    </main>
{% endblock %}
