{% extends 'base.html.twig' %}

{% block title %}Marques - Société Des Bières du Monde{% endblock %}

{% block body %}
    <h1>Gestion</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom Marque</th>
                <th>Nom Pays</th>
                <th>Nom Fabricant</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for marque in marques %}
            <tr>
                <td>{{ marque.id }}</td>
                <td>{{ marque.nom }}</td>
                {% if marque.pays == NULL %}
                <td>Pays non connu</td>
                {% else %}
                <td>{{ marque.pays.nom }}</td>
                {% endif %}

                {% if marque.fabricant == NULL %}
                <td>Fabricant non connu</td>
                {% else %}
                <td>{{ marque.fabricant.nom }}</td>
                {% endif %}
                
                <td>
                    <a href="{{ path('app_marque_show', {'id': marque.id}) }}">Voir</a>
                    <a href="{{ path('app_marque_edit', {'id': marque.id}) }}">Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">tableau vide</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_marque_new') }}">Create new</a>
{% endblock %}
