{% extends 'base.html.twig' %}

{% block title %}Articles - Société Des Bières du Monde
{% endblock %}

{% block body %}
	<main class="container margebas">
		<h1 class="mt-5 mb-5">Gestion des Articles</h1>
		<a class="btn btn-ajout" href="{{ path('app_article_new') }}">Ajouter</a>
		<table class="table table-bordered table-article">
			<thead>
				<tr>
					<th>Id</th>
					<th>Nom</th>
					<th>Types</th>
					<th>Marques</th>
					<th>Couleurs</th>
					<th>actions</th>
				</tr>
			</thead>
			<tbody>
				{% for article in articles %}
					<tr>
						<td>{{ article.id }}</td>
						<td>{{ article.nom }}</td>

						{% if article.type == NULL %}
							<td>Type non connu</td>
						{% else %}
							<td>{{ article.type.nom }}</td>
						{% endif %}

						{% if article.marque == NULL %}
							<td>Marque non connu</td>
						{% else %}
							<td>{{ article.marque.nom }}</td>
						{% endif %}

						{% if article.couleur == NULL %}
							<td>Couleur non connu</td>
						{% else %}
							<td>{{ article.couleur.nom }}</td>
						{% endif %}
						<td>
							<a class="btn btn-primary mb-2" href="{{ path('app_article_show', {'id': article.id}) }}">Voir</a>
							<a class="btn btn-success mb-2" href="{{ path('app_article_edit', {'id': article.id}) }}">Modifier</a>
						</td>
					</tr>
				{% else %}
					<tr>
						<td colspan="6">Tableau vide</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>

	</main>
{% endblock %}
