{% extends 'base.html.twig' %}

{% block title %}Article - Société Des Bières du Monde{% endblock %}

{% block body %}
<main class="container margebas">
    <h1 class="mb-5 mt-5">Article</h1>

    <table class="table table-bordered">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ article.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ article.nom }}</td>
            </tr>
            <tr>
                <th>Prix_achat</th>
                <td>{{ article.prixAchat }}</td>
            </tr>
            <tr>
                <th>Volume</th>
                <td>{{ article.volume }}</td>
            </tr>
            <tr>
                <th>Titrage</th>
                <td>{{ article.titrage }}</td>
            </tr>
            <tr>
                <th>Type</th>
                <td>{{ article.type.nom }}</td>
            </tr>
            <tr>
                <th>Marque</th>
                <td>{{ article.marque.nom }}</td>
            </tr>
            <tr>
                <th>Couleur</th>
                <td>{{ article.couleur.nom }}</td>
            </tr>
        </tbody>
    </table>


    <a class="btn btn-primary mb-2 mt-3" href="{{ path('app_article_edit', {'id': article.id}) }}">Modifier</a>

    {{ include('article/_delete_form.html.twig') }}
    <a class="btn btn-warning mt-4" href="{{ path('app_article_index') }}">Retourner à la liste</a>
    </main>
{% endblock %}
